<h1 class="govuk-heading-xl">Edit Site</h1>

<p><%= govuk_link_to "Back", root_path, no_visited_state: true %></p>

<%= render "form", site: @site %>

<%= form_for @site, method: :delete do |f| %>
  <%= f.govuk_submit 'Delete', warning: true %>
<% end %>
